{% extends 'base.html.twig' %}

{% block body %}

    <table id="table_2" class="display" data-topic-id="{{ topic.getId() }}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Comment</th>
            <th>CreatedAt</th>
        </tr>
        </thead>
    </table>


    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.comment) }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" >Send comment</button>

    {{ form_end(form) }}

    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Banned Words</th>
        </tr>
        </thead>
        <tbody>
        {% for bannedWord in bannedWords %}
            <tr><td>{{ bannedWord.getWord() }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}